Repository ossf/tac, pull requests merged in 2024-06, with the labels that each got.

#335 Propose Securing Critical Project WG to Incubating
  README.md
  process/wg-lifecycle-documents/securing_critical_projects_incubating_stage.md
Labels: administration, TI Lifecycle

#344 Iterate on funding application
  .github/ISSUE_TEMPLATE/funding_application.yml
  CHANGELOG.md
Labels: documentation, administration, Content

#341 add zarf as an openssf sandbox project
  README.md
  process/project-lifecycle-documents/zarf_sandbox_stage.md
Labels: TI Lifecycle

#348 Add clarity wrt SIGs that need to be projects
  CHANGELOG.md
  process/Technical_Initiative_Lifecycle.md
  process/sig-lifecycle.md
Labels: Content
